# Assignment 2
**Author:** F.F. HÃ¶hne Tarragona _S4605632_ <br>
**Course:** Smart Industry Operations _EBM223A05.2021-2022.1B_ <br>
**Lecturer:** Dr Christos Emmanouilidis <br>

**2021-12-17**


For this assignment, we are requested to pre-select potential employees. For the selected potential employees; return them as a list including their complete record in uniform format for all  returned employees. 

The following steps are to be considered:
1. We need to add a column for the intended department of the  employee. 
2. Prospective employees should be from the European Union, Norway, and the  UK. 
3. Specifically, you are required to select employees for:  
    1. The finance department
    2. with skills at least in Planning 
    3. a minimum of 4 years  experience
    4. Spoken language should be three out of Dutch, English, French, Spanish, and  Dutch
    5. Employees should not be at the lowest two tiers of performance.


## Step 1: Reading the data
As a first step, we import the needed librabries and we open the dataset.

In [145]:
import pandas as pd
import numpy as np
from countrygroups import EUROPEAN_UNION

In [4]:
# read in data specifying seperator/delimiter
employeeData = pd.read_csv('DataAssignment2.csv', sep=',')

We then do a preliminary analysis of the data, looking at the shape, type, and form of data; and getting an idea of the values for each attribute. 

It is important to look for consistency and lack ther of, as well as null values in the table.

In [9]:
employeeData.shape

(1000, 21)

In [18]:
employeeData.head(10)

,RecID,First Name,Surname,Gender,Age,Date of birth,Years of experience,Education Level,Country,Performance,...,Machining,Welding,Additive,Painting,Control,Quality,Planning,Services,Shipping,spoken languages
0,0660900YMA,Kurt,Jensen,male,62,04/07/1959,10,master,Republic of South Africa,94,...,YES,YES,YES,NO,NO,NO,YES,NO,NO,"EN,SP,NL,GE,IT,"
1,5612835CHK,Joann,Woodward,female,39,11/11/1982,9,upper secondary,Italy,C,...,YES,NO,NO,NO,NO,NO,YES,NO,YES,"EN,F,NL,GE,"
2,6313047ALD,Thomas,Belcher,female,44,25/12/1976,17,technical,USA,89,...,NO,YES,YES,YES,YES,NO,YES,YES,NO,"NL,GE,IT,"
3,4216935AQI,Patricia,Cirrincione,female,39,22/08/1982,13,master,Brazil,C,...,YES,YES,YES,NO,NO,YES,YES,YES,YES,"EN,F,NL,GE,IT,"
4,2765119WTR,Reginald,Fogg,male,54,11/09/1967,21,doctorate,Sweden,B,...,NO,YES,NO,NO,NO,YES,NO,YES,NO,"F,SP,"
5,5863686WTY,Christina,Butts,female,62,11/08/1959,23,bachelor,Malta,24,...,NO,YES,YES,NO,NO,YES,YES,NO,YES,"NL,IT,"
6,5170070JEI,Freida,Bailey,female,50,30/11/1971,24,technical,France,11,...,YES,YES,YES,YES,NO,NO,YES,NO,YES,"F,NL,GE,IT,"
7,8127770BEB,Gloria,Twyman,female,30,18/02/1991,0,technical,Romania,55,...,NO,YES,YES,NO,NO,NO,NO,NO,NO,"NL,GE,"
8,9980683KSC,Robert,Turnipseed,male,64,04/12/1957,17,master,Belgium,50,...,NO,YES,NO,NO,YES,NO,NO,YES,NO,"F,"
9,9830617VWN,Sarah,Torres,female,41,03/02/1980,15,technical,Malta,E,...,NO,NO,NO,YES,NO,YES,NO,YES,YES,"EN,SP,"

In [22]:
# dtype should be in accordance with data input; e.g. Age - int64, Date of birth - date
employeeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RecID                1000 non-null   object
 1   First Name           1000 non-null   object
 2   Surname              1000 non-null   object
 3   Gender               1000 non-null   object
 4   Age                  1000 non-null   int64
 5   Date of birth        1000 non-null   object
 6   Years of experience  1000 non-null   int64
 7   Education Level      1000 non-null   object
 8   Country              1000 non-null   object
 9   Performance          1000 non-null   object
 10  Assembly             1000 non-null   object
 11  Machining            1000 non-null   object
 12  Welding              1000 non-null   object
 13  Additive             1000 non-null   object
 14  Painting             1000 non-null   object
 15  Control              1000 non-null   object
 16  Quality              1000 non-null   object
 17  Planning             1000 non-null   object
 18  Services             1000 non-null   object
 19  Shipping             1000 non-null   object
 20  spoken languages     985 non-null    object
dtypes: int64(2), object(19)
memory usage: 164.2+ KB

In [20]:
# check no negative values, no values look out of the norm 
employeeData['Years of experience'].describe()

count    1000.000000
mean       10.630000
std         9.605695
min        -1.000000
25%         2.000000
50%         9.000000
75%        18.000000
max        35.000000
Name: Years of experience, dtype: float64

In [21]:
# should be between 18 and 67 
employeeData['Age'].describe()

count    1000.000000
mean       43.254000
std        14.031121
min        18.000000
25%        31.000000
50%        43.000000
75%        55.000000
max        67.000000
Name: Age, dtype: float64

In [171]:
# should be between A-F; however we have 105 unique values. Perfromance uses different scales (half use an alphabetic scale) 
employeeData['Performance'].describe()
employeeData['Performance'].unique()
employeeData['Performance'].value_counts()

A     110
E     108
D      99
C      98
B      81
     ...
18      2
75      2
96      2
35      1
51      1
Name: Performance, Length: 105, dtype: int64

In [25]:
# naming should be consistent
# needs further work for a propoer analysis as differnt languages are listed and are therefore difficult to analyze
employeeData['spoken languages'].describe()

count             985
unique             63
top       F,SP,NL,IT,
freq               23
Name: spoken languages, dtype: object

In [28]:
# check different levels of education level and consistency in naming
employeeData['Education Level'].describe() 
employeeData['Education Level'].unique()

array(['master', 'upper secondary', 'technical', 'doctorate', 'bachelor'],
      dtype=object)

In [30]:
# check different countries of origin and consistency in naming
employeeData['Country'].describe() 
employeeData['Country'].unique()

array(['Republic of South Africa', 'Italy', 'USA', 'Brazil', 'Sweden',
       'Malta', 'France', 'Romania', 'Belgium', 'Slovakia', 'Luxembourg',
       'Ireland', 'Republic of Cyprus', 'Finland', 'Austria', 'Poland',
       'Latvia', 'Hungary', 'Estonia', 'Slovenia', 'Czech Republic',
       'China', 'Germany', 'Denmark', 'Bulgaria', 'Portugal', 'Lithuania',
       'Greece', 'Australia', 'Spain', 'Netherlands', 'Republic of Congo',
       'United Kingdom', 'Croatia'], dtype=object)

## Step 2: Data cleaning 
From the previous steps; we see that: 
  1. some candidates have not added their spoken languages*, and 
  2. the label for the attibute "spoken languages" is inconsisten with the rest (lower case) 

*_As there is a min. requirement for this attribute, all NaNs can be removed. The column name will also be changed._

Other changes needed before we start the data analysis include:
 - Changing "Date of birth" Dtype to DateTime
 - Adding the needed column for "Intended department"
 - Removing negative values from "Years of experience"
 - Converting all "Performance levels" to one scale
 - EU countries need to be grouped for further filtering

In [195]:
# remove NaNs 
df = employeeData.dropna()

In [196]:
# changing of column names, adding "Intended department", changing Dtype
df = df.rename(columns={'spoken languages':'Spoken languages'})
df['Date of birth'] = pd.to_datetime(df['Date of birth'])
df['Intended department'] = np.nan

In [197]:
# check changes are correct
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RecID                985 non-null    object
 1   First Name           985 non-null    object
 2   Surname              985 non-null    object
 3   Gender               985 non-null    object
 4   Age                  985 non-null    int64
 5   Date of birth        985 non-null    datetime64[ns]
 6   Years of experience  985 non-null    int64
 7   Education Level      985 non-null    object
 8   Country              985 non-null    object
 9   Performance          985 non-null    object
 10  Assembly             985 non-null    object
 11  Machining            985 non-null    object
 12  Welding              985 non-null    object
 13  Additive             985 non-null    object
 14  Painting             985 non-null    object
 15  Control              985 non-null    object
 16  Quality              985 non-null    object
 17  Planning             985 non-null    object
 18  Services             985 non-null    object
 19  Shipping             985 non-null    object
 20  Spoken languages     985 non-null    object
 21  Intended department  0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 177.0+ KB

In [198]:
# Check for correct input/ no unnusual answers
df['Date of birth'].describe()

C:\Users\fabia\AppData\Local\Temp/ipykernel_14488/4051816357.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['Date of birth'].describe()

count                     985
unique                    964
top       1957-04-21 00:00:00
freq                        2
first     1954-02-28 00:00:00
last      2003-12-10 00:00:00
Name: Date of birth, dtype: object

In [199]:
#  Removing negative values from Years of experience
df['Years of experience']=df['Years of experience'].clip(lower=0)

In [200]:
# Converting all Performance levels to one scale
# As the grades following the alphabetical scale offer less information than the numerical scaling, 
# the alphabetical scale will be kept to avoid creating missleading data points 
df = df.replace({'Performance' : { 'A' : 95, 'B' : 85, 'C' : 75 , 'D' : 65 , 'E' : 55}})

In [201]:
df['Performance'] = pd.to_numeric(df['Performance'])
Grade = pd.cut(df.Performance, bins=[0,60,70,80,90,100], labels=['E','D','C','B','A'])

In [202]:
df.insert(9,'Grade', Grade)

In [203]:
df['Grade'].describe()

count     978
unique      5
top         E
freq      398
Name: Grade, dtype: object

In [204]:
# EU countries need to be grouped for further filtering 
lst = EUROPEAN_UNION.names
c = lambda x: 'EU' if x in lst else x
df['Country'] = df['Country'].map(c)

In [205]:
# check changes are correct
df.head()

,RecID,First Name,Surname,Gender,Age,Date of birth,Years of experience,Education Level,Country,Grade,...,Welding,Additive,Painting,Control,Quality,Planning,Services,Shipping,Spoken languages,Intended department
0,0660900YMA,Kurt,Jensen,male,62,1959-04-07,10,master,Republic of South Africa,A,...,YES,YES,NO,NO,NO,YES,NO,NO,"EN,SP,NL,GE,IT,",NaN
1,5612835CHK,Joann,Woodward,female,39,1982-11-11,9,upper secondary,EU,C,...,NO,NO,NO,NO,NO,YES,NO,YES,"EN,F,NL,GE,",NaN
2,6313047ALD,Thomas,Belcher,female,44,1976-12-25,17,technical,USA,B,...,YES,YES,YES,YES,NO,YES,YES,NO,"NL,GE,IT,",NaN
3,4216935AQI,Patricia,Cirrincione,female,39,1982-08-22,13,master,Brazil,C,...,YES,YES,NO,NO,YES,YES,YES,YES,"EN,F,NL,GE,IT,",NaN
4,2765119WTR,Reginald,Fogg,male,54,1967-11-09,21,doctorate,EU,B,...,YES,NO,NO,NO,YES,NO,YES,NO,"F,SP,",NaN

## Step 3: Data analysis 
As described in the introduction, the data needs to be filtered to find the possible candidates. 

Prospective employees should be from the European Union, Norway, and the  UK. 
3. Specifically, you are required to select employees for:  
    1. The finance department
    2. with skills at least in Planning 
    3. a minimum of 4 years  experience
    4. Spoken language should be three out of Dutch, English, French, Spanish, and  Dutch
    5. Employees should not be at the lowest two tiers of performance.

In [206]:
# Prospective employees should be from the European Union, Norway, and the  UK.
lst_countries = ['EU', 'United Kingdom', "Norway"]
df_filtered = df[df['Country'].isin(lst_countries)]

In [ ]:
# check for correct filtering
df_filtered['Country'].unique()

In [216]:
# Skills in at least planning 
df_filtered = df_filtered[df_filtered['Planning']=="YES"]

In [217]:

df_filtered['Planning'].unique()

array(['YES'], dtype=object)

In [222]:
# 4 or more years experience
df_filtered = df_filtered[df_filtered['Years of experience'] >= 4]

In [223]:
# check 
df_filtered['Years of experience'].describe()

count    256.000000
mean      14.878906
std        8.284464
min        4.000000
25%        8.000000
50%       13.000000
75%       21.000000
max       34.000000
Name: Years of experience, dtype: float64

In [ ]:
# Language - min 3 - out of Dutch, English, French, Spanish

In [ ]:
# Upper 1/3 of Performance ()